<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="text-align:center">
  <h1>
    Welcome to Oxford Dictonary
  </h1>
  
<h2 style="text-align:center">Search your word below to get meaning</h2>

<form class="example" action="action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form> 
</div>
<router-outlet></router-outlet>